{% extends 'rango/base.html' %}
{% load static %}
{% block title_block %}
    About Rango
{% endblock title_block %}
{% block body_block %}
    <h1>About</h1>
    <div>
        here is the about page.
        <strong>This tutorial has been put together by {{ name }}</strong>
        <br />
        <strong>Visits: {{ visits }}</strong>
    </div>
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat." />
    </div>
{% endblock body_block %}
